#header {
    position: relative;
    z-index: 2;
}

#banner {
    /*border: 2px solid red;*/
    position: relative;
    background-image: url("images/p4billeder/faq2f.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 20%; /* Adjust the top position to move the overlay upwards */
    left: 5%; /* Adjust the left position to move the overlay to the left */
    right: 5%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align the content to the left */
    justify-content: flex-start; /* Align the content to the top */
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  
  .overlay h1 {
    font-size: 32px;
    margin-bottom: 5px; /* Adjust the margin bottom to reduce space between the headline and the text */
  }
  
  .overlay p {
    font-size: 18px;
    margin-top: 0; /* Add margin top to align the text with the headline */
    margin-left: 0;
  }
  
  .green-letter {
    color: green; /* Apply green color to the specified letters */
  }
  
  .banner-text {
    margin-left: 20px; /* Adjust the left margin of the banner text */
  }

  .section-text {
    font-weight: normal;
    line-height: 1.5;
}

#next-section2 {
  text-align: center;
  padding: 30px 0;

}

#next-section2 p {
  font-size: 16px;
  font-weight: normal;
  padding-top: 30px;
  max-width: 600px; /* Adjust the max-width value to control the line length */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  #next-section p {
      font-size: 16px;
  }
}


#next-section3{
  background-color:#0d9e0831; 
  padding-top: 40px;
  padding-bottom: 80px;
}

#contactImgContainer {
  /*border: 2px solid blue;*/
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.imgContainerItems {
  /*border: 2px solid red;*/
  margin: auto;
}

.imgContainerItems img {
  height: 370px;
  width: 270px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 1px 6px 12px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 6px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 12px -2px rgba(0, 0, 0, 0.75);
}


#ourWorkersContainer {
  /*border: 2px solid green;*/
  max-width: 1300px;
  /*width: 75%;*/
  margin: auto;
}

#ourWorkersHeading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
}

.imgContainerText {
  /*border: 2px solid green;*/
  text-align: center;
  font-size: 28px;
}