*{
    padding: 0;
    margin: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

footer{
    background-color: #2E362D;
    border: 2px solid green;
    width: 100%;
    height: 300px;
    bottom: 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
}

#footerItemsContainer {
    border: 2px solid red;
    display: flex;
}

#footerLeft{
    border: 2px solid blue;
}

#footerRight {
    border: 2px solid yellow;
}

#footerMediaContainer {
    display: flex;
}