body, html{
    padding: 0;
    margin: 0;
}

#header {
    background-color: #2E362D;
    border: 5px solid green;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    transition: height 0.5s ease-out;
    position: fixed;
    top: 0;
    color: #ffffff;
}

#header.slim {
    height: 100px;
}

main{
    margin-top: 200px;
}

#navMenuItems{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

#navListItems{
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

}

#navListItems li {
    padding: 0 10px 0 10px;
}

#navListItems li a {
    text-decoration: none;
    color: #ffffff;
}

#navListItems li a:hover{
    cursor: pointer;
}
