*{
    padding: 0;
    margin: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

#header {
    background-color: #2E362D;
    border: 5px solid green;
    box-sizing: border-box;
    height: 123px;
    width: 100%;
    transition: height 0.5s ease-out;
    position: fixed;
    top: 0;
    color: #ffffff;
    display: flex;
    align-items: center;

}

#header.slim {
    height: 80px;
}

main{
    margin-top: 123px;
}

#navMenu{
    border: 5px solid blue;
    padding: 0 20px 0 20px;
    width: 100%;
}

#navMenuItems{
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    width: 100%;
}

#navLogo{
    text-align: center;
}


#navListContainer{
    /*border: 2px solid green;*/
    display: flex;
    align-items: center;
    width: 100%;
}

#navListItems{
    /*border: 2px solid pink;*/
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px 0 20px;
    width: 100%;
}

#navListItems li {
    /*border: 2px solid yellow;*/
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

#navListItems li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
}

#navListItems li a:hover{
    cursor: pointer;
}

#navLogo p {
    font-size: 45px;
    margin: 0;
}

#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myInput {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}
#burgerMenu{
    display: none;
}

@media only screen and (max-width: 1130px){
    #navListContainer {
        display: none;
    }

    #burgerMenu {
        display: block;
        cursor: pointer;
    }

    #burgerMenu.open {
        border: 2px solid yellow;
        height: 50%;
        width: 50%;

    }
}