/*******************BANNER***********************/
#indexBannerContainer {
    /*border: 4px solid red;*/
    background-image: url("images/p4billeder/forside4f.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indexBannerTextContainer {
    /*border: 2px solid blue;*/
    color: white;
    text-align: center;
}

#indexBannerTextContainer h1 {
    font-size: 155px;
}

#indexBannerTextContainer h2 {
    font-size: 60px;
}

/********************MAIN INFO******************/

.contentImageContainer img {
    object-fit: cover;
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.contentContainers {
    display: flex;
    margin: 140px 0 0 0;
}

#mainInfoContainers div:nth-child(even) {
    flex-direction: row-reverse;
    margin-right: 100px;
}

#mainInfoContainers {
    margin: 100px;
    padding-bottom: 100px;
}

.contentTextContainer h1 {
    font-size: 80px;
}

.contentTextContainer p {
    font-size: 30px;
}

@media only screen and (max-width: 1550px) {
    #mainInfoContainers .contentContainers {
        /*border: 2px solid red;*/
        text-align: center;
        display: block;
        margin-top: 140px;
    }
    #mainInfoContainers div:nth-child(even) {
        margin-right: 0;
    }
    .contentImageContainer img {
        /*border: 2px solid blue;*/
        margin: auto;
    }
}

@media only screen and (max-width: 1040px) {
    #indexBannerTextContainer {
        transform: scale(0.7);
    }
    #indexBannerContainer {
        display: flex;
        justify-content: center;
    }
    #indexBannerContainer {
        background-image: url("images/p4billeder/kontaktos3f.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
}

@media only screen and (max-width: 830px) {
    #indexBannerContainer {
        background-image: url("images/p4billeder/kontaktos3f.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
    #indexBannerTextContainer {
        transform: scale(0.5);
    }
}

@media only screen and (max-width: 770px){
    #mainInfoContainers{
        margin: 30px;
    }
    .contentTextContainer h1 {
        font-size: 40px;
    }

    .contentTextContainer p {
        font-size: 30px;
    }
    .contentImageContainer img {
        width: 400px;
        height: 250px;
    }
    #mainInfoContainers .contentContainers{
        margin-top: 50px;
    }
}
@media only screen and (max-width: 600px){
    .contentTextContainer h1 {
        font-size: 30px;
    }

    .contentTextContainer p {
        font-size: 20px;
    }
    .contentImageContainer img {
        width: 300px;
        height: 150px;
    }
    #mainInfoContainers .contentContainers{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 460px) {
    #indexBannerTextContainer {
        transform: scale(0.3);
    }
}