@charset "utf-8";
/* CSS Document */
.image-container {
    
    max-width: 100%;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
}

img {
    width: 300px;
    height: 135px;
    object-fit: cover;
    display: block;
    margin: 40px;
}

div.desc {
  	padding: 2px;
  	text-align: center;
	font-size: 20px;
	background: white;
	width: 300px;
	height: 60px;
	font-family: "Proxima Nova";
	margin: 40px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
