#header {
    position: relative;
    z-index: 2;
}

#banner {
    position: relative;
    background-image: url("../../images/p4billeder/faq2f.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 20%; 
    left: 5%; 
    right: 5%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  
  .overlay h1 {
    font-size: 75px;
    margin-bottom: 5px; 
  }
  
  .overlay p {
    font-size: 18px;
    margin-top: 0; 
    margin-left: 0;
  }
  
  .green-letter {
    color: green; 
  }
  
  .banner-text {
    margin-left: 20px; 
  }

  .section-text {
    font-weight: normal;
    line-height: 1.5;
}

#next-section2 {
  text-align: center;
  padding: 30px 0;

}

#next-section2 p {
  font-size: 16px;
  font-weight: normal;
  padding-top: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  #next-section p {
      font-size: 16px;
  }
}


#next-section3{
  background-color:#0d9e0831; 
  padding-top: 40px;
  padding-bottom: 80px;
}

#contactImgContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.imgContainerItems {
  margin: auto;
}

.imgContainerItems img {
  height: 370px;
  width: 270px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 1px 6px 12px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 6px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 12px -2px rgba(0, 0, 0, 0.75);
}


#ourWorkersContainer {
  max-width: 1300px;
  margin: auto;
}

#ourWorkersHeading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
}

.imgContainerText {
  
  text-align: center;
  font-size: 28px;
}

@media only screen and (max-width: 1040px) {
  .contactInfoContainers {
      transform: scale(0.8);
      margin: 0 10px 0 10px;
  }

  #bannerTextContainer{
      transform: scale(0.7);
      text-align: center;
  }
  #bannerContainer {
      display: flex;
      justify-content: center;
  }
  #bannerContainer {
      background-image: url("../../images/p4billeder/kontaktos3f.jpg");
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
      background-size: cover;
  }
  #contactImgContainer {
      
      display: grid;
      grid-template-columns:auto auto;
      gap: 20px;
  }
}

@media only screen and (max-width: 830px) {
  .contactInfoContainers {
      transform: scale(0.7);
      margin: auto;
  }

  #ContactContainer {
     
      display: block;
  }
  #bannerContainer {
      background-image: url("../../images/p4billeder/kontaktos3f.jpg");
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
      background-size: cover;
  }

  #bannerTextContainer{
      transform: scale(0.5);
      text-align: center;
      margin-right: 90px;
  }
  #contactImgContainer {
      display: grid;
      grid-template-columns: auto;
      gap: 0;
  }
}

